:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --color-white: #ffffff;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--color-white);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* hedder */
/* logo */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

span {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.auth-nav .contacts.mail {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--accent-color);
}

/* footer */
.footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address.link {
  color: var(--color-white);
}

.address:hover,
.address:focus {
  color: var(--color-white);
}
