:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --color-white: #ffffff;
  --main-background: #e5e5e5;
}

body {
  /* font-family: 'Raleway', sans-serif;        перенести веб студия */
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-background);
}

ul {
  list-style: none;
}

/* hedder */
/* logo */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

span {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.auth-nav .contacts.mail {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--accent-color);
}

/* кнопки фильтра */
.filter button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
.filter button:hover,
.filter button:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
}
.btn-current {
  background: var(--accent-color);
  color: var(--color-white);
}

/* галерея работ */
.heading {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}
.paragraph {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

/* footer */
.footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}

.address {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address.link {
  color: var(--color-white);
}

.address:hover,
.address:focus {
  color: var(--color-white);
}
