/* кнопки фильтра */
.filter button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}
.filter button:hover,
.filter button:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
}
.btn-current {
  background: var(--accent-color);
  color: var(--color-white);
}

/* галерея работ */
.heading {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}
.paragraph {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
