/* main */
/* section Эффективные решения */
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--color-white);
  background: #2f303a;
  width: 1600px;
  height: 600px;
  letter-spacing: 0.06em;
}

/* кнопка */
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--color-white);
  background: #2196f3;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section Наши преимущества  */
.subject {
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.subtitle {
  font-style: normal;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-text-color);
}
.text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
